PORT=4175
FLEETDESK_HOST=0.0.0.0

DB_TYPE=sqlserver
DB_SQLSERVER_MODE=relational
DB_HOST=am3-fleet-sql.database.windows.net
DB_PORT=1433
DB_DATABASE=AM3Fleet
DB_USER=am3fleet_app
DB_PASSWORD=troque_por_uma_senha_forte
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=false

FLEETDESK_BACKUP_DIR=backups
